rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stories/{storyId} {
      allow read: if true;
      allow write: if false; // Only Cloud Functions can write
      
      match /contributions/{contribId} {
        allow read: if true;
        allow create: if request.auth != null;
        allow delete: if request.auth != null && (request.auth.token.email == 'franginolucarini@gmail.com' || request.auth.token.name == 'franginolucarini@gmail.com');
      }
    }
  }
}
